<html>
<head>
<title>Cheap Flights to Aruba</title>
</head>
<body>

Cheap Direct Flights to Aruba (July 2024 - December 2024)
<p>

<form action="/search" method="POST">

<table>
<tr><td>From:</td>
<td>
<select id=airport name=airport required>
  <option value="ATL">Atlanta</option>
  <option value="BWI">Baltimore</option>
  <option value="BOS">Boston</option>
  <option value="CLT">Charlotte</option>
  <option value="ORD">Chicago</option>
  <option value="DFW">Dallas</option>
  <option value="FLL">Fort Lauderdale</option>
  <option value="IAH">Houston</option>
  <option value="MIA">Miami</option>
  <option value="EWR">Newark</option>
  <option value="JFK">New York City</option>
  <option value="MCO">Orlando</option>
  <option value="PHL">Philadelphia</option>
  <option value="IAD">Washington DC</option>
</select>
</td></tr>
<input name=month type=hidden value="none">
<!--
<tr><td>Month:</td>
<td>
<select id=month name=month require>
  <option value="7">July</option>
  <option value="8">August</option>
  <option value="9">September</option>
  <option value="10">October</option>
  <option value="11">November</option>
  <option value="12">December</option>
</select>
</td></tr>
-->
<tr>
<td>Days:</td>
<td><input id=days name=days value=7 required size=2>
</td></tr>
<tr>
<td colspan=2>
<button type="submit">Search</button>
</td></tr>
</table>

</form>
</body>
</html>

